.DS_Store
node_modules
.vscode

yarn-error.log

/dist
/ssr/dist
/typings
/browser
/no-ssr
/ssr

effector-reflect-*
.idea
core/
./index.*
./ssr.*
./scope.*js
./scope.*map
./scope.d.ts
./reflect.*
docs/.next
docs/out
